Modal {
    max-width: 350px;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .modal-body {
    display: flex;
    justify-content: center;
    background-color: var(--color-background);
  
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    background-color: var(--color-background);
  
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 20px; */
  }
  
  .inactive-content {
    display: none;
  }
  
  input {
    border-bottom: 1;
    border-top: none;
    border-left: none;
    border-right: none;
  
    padding: 5px;
    background-color: var(--color-background);
  }
  
  .report-container {
    max-width: 3500px;
    min-height: 300px;
  
    display: flex;
    flex-direction: column;
    /* row-gap: 10px; */
    justify-content: center;
    align-items: center;
    margin: 0px;
    border: none;
  }
  
  .login-container-createAccount {
    display: flex;
    flex-direction: row;
  
    align-items: center;
    justify-content: center;
  }
  
  .login-container-createAccount p {
    margin-bottom: 0px;
  }
  
  .createButton.btn {
    color: var(--color-light-accent-green);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .createButton.btn:focus,
  .createButton.btn:hover,
  .createButton.btn:active,
  .createButton.btn:visited {
    background-color: transparent !important;
    color: var(--color-light-accent-green) !important;
  }
  
  p.large-bold {
    color: var(--color-light-accent-green);
  }
  
  .report-btn.btn {
    background-color: var(--color-light-accent-green);
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
  }
  
  .report-btn-2.btn {
    background-color: transparent;
    color: var(--color-light-accent-green);
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
  }
  
  .report-btn-2.btn:focus,
  .report-btn-2.btn:hover,
  .report-btn-2.btn:active {
    background-color: transparent !important;
    color: var(--color-light-accent-green);
  }
  
  p.tiny.center-text {
    text-align: center;
  }
  
  .report-btn.btn:focus,
  .report-btn.btn:hover,
  .report-btn.btn:active,
  .report-btn.btn:visited {
    background-color: var(--color-light-accent-green) !important;
    color: var(--color-background);
  }
  
  .report-textarea {
    width: 100%;
    min-height: 200px;
    padding: 20px;
    resize: none;
    overflow: hidden;
    outline-color: transparent;
  
    margin-top: 20px;
    font-family: var(--font-family-text);
  }
  
  p.reason-text.regular-bold {
    width: 100%;
    color: var(--color-light-accent-green);
  }
  
  p.reason-text-2.regular-bold {
    width: 100%;
    color: var(--color-light-accent-green);
    text-align: center;
  }
  .report-textarea:focus,
  .report-textarea:active,
  .report-textarea:hover {
    outline-color: var(--color-light-accent-green) !important;
    font-family: var(--font-family-text);
  }
  
  .userProfileModal_detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    /* column-gap: 10px; */
  }

  .userProfileModal_detail.changePhoto{
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;

  }

.userProfileCenter{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

  .userProfile_Container_left_photomodal{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  img.userPhotoModal{
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .upload-button{
    background-color: transparent;
    color: var(--color-light-accent-green);
    border: none;
    cursor: pointer;
    width: 100%;

    margin-top: 20px;
  }

  .small.userProfileModal_text{
    text-align: left;
    width: 200px;
  }

  .userProfileModal_Button{
    background-color: var(--color-light-accent-green) !important;
    color: var(--color-background);
    border: none !important;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
  }

  .userProfileModal_Button.loading{
    background-color: gray !important;
    color: var(--color-background);
    border: none !important;
    width: 100%;
    margin-top: 20px;
  }

  .userProfileModal_Button:focus,
  .userProfileModal_Button:hover,
  .userProfileModal_Button:active,
  .userProfileModal_Button:visited {
    background-color: var(--color-heading-dark) !important;
    color: var(--color-background);
  }

  .tiny.userProfileInput {
    width: 200px;
    text-indent: 10px;
  }

  input.form-check-input:checked{
    background-color: var(--color-light-accent-green); 
    border-color: var(--color-light-accent-green);
  }

  div.userProfile_checkbox.form-check{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;

    width: 400px;

  }

  p.small.errorPrompt{
    margin-top: 10px;
    color: var(--color-report);
  }