.admin-panel-div {
  margin-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.bloc-tabs {
  display: flex;
}

.tabs {
  background: var(--color-light-accent-green);
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  color: var(--color-background);
  padding: 10px;
  text-align: center;
  width: 168px;
  height: 46px;
  cursor: pointer;
  position: relative;
  outline: none;
}

.active-tabs {
  background: var(--color-heading-dark);
}

div.tabs.small-bold.active-tabs {
  color: var(--color-background);
}

.active-tabs:before {
  content: "";
  display: block;
}

.tab-header {
  height: 5px;
}

.tcontent {
  display: flex;
  width: 100%;
  background: white;
  display: none;
}

.content-tabs {
  display: flex;
  width: 100%;
  /* box-sizing: border-box; */
  border: 2px solid var(--color-heading-dark);
}

.active-content {
  display: block;
}

.inactive-content {
  display: none;
}

/* .admin-btns {
  display: flex;
  flex-direction: row;

  column-gap: 10px;
}

.admin-view-btn.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-heading-dark);
  color: var(--color-background);
  border: none;
  cursor: pointer;
  width: 80px;
  height: 30px;
}

.small.admin-view-btn.btn:focus, .admin-view-btn.btn:hover, .admin-view-btn.btn:active, .admin-view-btn.btn:visited{
  background-color: var(--color-heading-dark) !important;
  color: var(--color-background);
}

.admin-edit-btn.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  color: var(--color-light-accent-green);
  border: 1px solid var(--color-light-accent-green);
  cursor: pointer;
  width: 80px;
  height: 30px;
}

.admin-edit-btn.btn:focus, .admin-edit-btn.btn:hover, .admin-edit-btn.btn:active, .admin-edit-btn.btn:visited{
  background-color: transparent !important;
  color: var(--color-light-accent-green);
  border: 1px solid var(--color-light-accent-green);
}

thead {
  background-color: var(--color-heading-dark);
  padding: 0px;
}


th p.small-bold {
  margin-bottom: 0px;
  color: var(--color-background);
}

div.content {
  margin-top: -1px;
  padding: 0px;
}

thead {
  margin-top: -1px;
}
.admin-action-col {
  display: flex;
  flex-grow: 1;

  margin-right: 0px;
  padding: 0px;
}

.admin-col {
  display: flex;
  flex-grow: 2;
} */
